$day-size: 100px;
$day-gap: 1px;
$calendar-padding: 10px;
$calendar-size: calc($day-size * 7 + $day-gap * 6 + $calendar-padding * 2);
$border-width: 1px;
$border-default: $border-width solid black;
$color-background: #eee;
$color-hover: #ffbfcb;
$text-height: calc($day-size - $border-width * 2);
$text-size: 30px;
$start-day-offsets: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
